*::selection {
  background-color: #f9a8d4;
  color: #9d174d;
}

body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

.size-48 {
  width: 50px;
  height: 50px;
}

.leading-1px {
  letter-spacing: 1px;
}

.text-bg-indigo {
  background-color: var(--bs-pink);
  color: var(--bs-white);
}

.btn-dropdown {
  text-align: left;
  color: #fff;
  line-height: initial;
}

.btn-dropdown:hover {
  background-color: #ffc500 !important;
  color: #000;
}

.btn-dropdown.active {
  background-color: #ffc500 !important;
  color: #000;
}

.sidebar {
  position: fixed;
  top: 1px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #eee;
}

.sidebar .nav-link:hover {
  background-color: #ffc500 !important;
  color: #000;
}

.sidebar .nav-link.active {
  background-color: #ffc500;
  color: #000;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  /* background-color: rgba(0, 0, 0); */
}

.navbar .navbar-toggler {
  /* top: 0.25rem; */
  right: 1rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    top: 0;
  }

  .bg-md-primary {
    background-color: #0d6efd !important;
  }

  .fs-md-6 {
    font-size: 15px !important;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0);
  border: solid rgba(0, 0, 0);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
