*::selection {
  background-color: rgb(255, 145, 163);
  color: #ae0046;
}

.custom-font {
  font-size: 1rem !important;
}

.custom-btn {
  border-radius: 0.2rem !important;
}

.py-2-3 {
  padding: 11px 0 !important;
}

.navbar .navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.btn-close:focus,
.btn-close:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-login {
  transition: 0.3s all;
  border-radius: 5px;
}

.btn-login:hover {
  background-color: var(--bs-gray-400);
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.vertical-align-middle {
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}
