*::selection {
  background-color: #f9a8d4;
  color: #9d174d;
}

.custom-font {
  font-size: 1.1rem !important;
}

.navbar .navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.btn-close:focus,
.btn-close:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-login {
  transition: 0.3s all;
  border-radius: 5px;
}

.btn-login:hover {
  background-color: var(--bs-gray-400);
}
