body {
  font-family: "Nunito", Arial, Helvetica, sans-serif !important;
}

*::selection {
  background-color: rgb(255, 145, 163);
  color: #ae0046;
}

*:focus {
  box-shadow: none !important;
}

.notify {
  align-items: flex-end !important;
  z-index: 100000000 !important;
}

.custom-font {
  font-size: 1rem !important;
}

.custom-btn {
  border-radius: 0.2rem !important;
  font-size: 1rem !important;
}

.py-2-3 {
  padding: 11px 0 !important;
}

.navbar .navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.btn-close:focus,
.btn-close:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-login {
  transition: 0.3s all;
  border-radius: 5px;
}

.btn-login:hover {
  background-color: var(--bs-gray-400);
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.vertical-align-middle {
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

#banner {
  background-image: url("/assets/images/2.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#banner #blur {
  min-height: 100vh !important;
  backdrop-filter: blur(8px);
  filter: brightness(0.95);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
}

#banner #blur h1 {
  font-size: 3rem !important;
}

@media screen and (max-width: 576px) {
  #banner #blur h1 {
    font-size: 2rem !important;
  }
}

.py-6 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}

/* create blur navbar */
#navbar {
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  -moz-backdrop-filter: blur(20px) !important;
  position: fixed !important;
  border-bottom: 1px solid rgba(201, 201, 201, 0.4);
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 1030 !important;
}
