.custom-font {
  font-size: 0.95rem;
}

.navbar .navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.btn-close:focus,
.btn-close:active {
  outline: none !important;
  box-shadow: none !important;
}
